<section class="about" id="about">
  <h2 class="about__title js-spanish">Sobre mí</h2>
  <h2 class="about__title hidden-text js-english">About me</h2>

  <article class="about__container">
    <div class="about__container-img">
      <img
        loading="lazy"
        src="./assets/images/yamira.png"
        alt="Foto de perfil de Yamira Martín"
        title="Yamira Martín"
        class="about__container-img--image"
      />
    </div>
    <div class="about__container-description">
      <p class="about__container-description--myself js-spanish">
        ¡Hola! Soy Yamira,
        <span class="about__container--letters"
          >desarrolladora frontend junior
        </span>
        especializada en React, JavaScript, HTML y CSS, y actualmente
        adentrándome en TypeScript y Wordpress.
      </p>
      <p class="about__container-description--myself hidden-text js-english">
        Hi there! I´m Yamira,
        <span class="about__container--letters"
          >junior frontend developer
        </span>
        specialized on React, JavaScript, HTML and CSS, and now getting in
        contact with TypeScript and Wordpress.
      </p>
      <p class="about__container-description--myself js-spanish">
        En este último año he decidido lanzarme al mundo del desarrollo web,
        adaptando mi experiencia profesional previa al sector IT con motivación
        y autoaprendizaje.
      </p>
      <p class="about__container-description--myself hidden-text js-english">
        During the last year, I´ve decided to get into the web development
        world, shaping my skills from my previous work experiences into the IT
        industry, with high motivation and self learning.
      </p>

      <p class="about__container-description--myself js-spanish">
        Gracias a mis estudios en
        <span class="about__container--letters">psicología</span> y a los
        últimos 7 años en
        <span class="about__container--letters">gestión hotelera</span> dentro
        del ámbito de recepción, he desarrollado un perfil multidisciplinar
        tanto con cualidades técnicas como con habilidades en
        <span class="about__container--letters">atención al cliente</span>,
        <span class="about__container--letters">gestión de equipos</span> y
        <span class="about__container--letters">organización</span>, que ahora
        me permiten adaptarme a cualquier entorno de trabajo y asumir el reto
        que supone crear productos en el entorno web.
      </p>
      <p class="about__container-description--myself hidden-text js-english">
        Supported by a degree in
        <span class="about__container--letters">psychology </span> and the last
        7 years experience in
        <span class="about__container--letters">hotel management</span> , I have
        build up a multitask background within techincal cualities as well as
        abilites in
        <span class="about__container--letters">customer service</span>,
        <span class="about__container--letters">team management </span> and
        <span class="about__container--letters">organisation</span>. All this
        experiences makes me able to move myself into any job enviroment and
        accept the challenge to create web products.
      </p>
      <p class="about__container-description--myself js-spanish">
        ¿Quieres quieres saber más sobre mí y mi perfil técnico? ¡Échale un ojo
        a mis proyectos y a las tecnologías que uso!
      </p>
      <p class="about__container-description--myself hidden-text js-english">
        Would you like to know more about me and my technical? Just have a look
        to my projects and technologies I use!
      </p>
    </div>
    <article class="about__contact">
      <div class="about__contact-btn" role="link">
        <a
          href="mailto:yamiramartinguzman@gmail.com"
          class="about__contact-btn--link js-spanish"
          alt="Enlace para contactar con Yamira"
          title="Haz clic aquí para contactar con Yamira"
          >Contacta conmigo</a
        >
        <a
          href="mailto:yamiramartinguzman@gmail.com"
          class="about__contact-btn--link hidden-text js-english"
          alt="Link to contact with Yamira"
          title="Click here to contact with Yamira"
          >Contact with me</a
        >
      </div>
      <div class="about__contact-btn" role="link">
        <a
          href="https://drive.google.com/file/d/1qBGm1OAwhJldoe4ENE5Szk3oTFFSkGEW/view?usp=sharing"
          class="about__contact-btn--link js-spanish"
          alt="Enlace para descargar el CV de Yamira "
          title="Haz clic aquí para descargar el CV de Yamira"
          target="_blank"
          >Descarga mi CV</a
        >
        <a
          href="https://drive.google.com/file/d/1KyuLR1kfCGG2Vqk4jMAnINmiLai1Dfkt/view?usp=sharing"
          class="about__contact-btn--link hidden-text js-english"
          alt="Link to download Yamira´s CV"
          title="Click here to download Yamira´s CV"
          target="_blank"
          >Download my CV</a
        >
      </div>
    </article>
  </article>

  <aside class="about__aside">
    <div class="about__aside-global js-techContainer" id="0">
      <i class="bx bxl-html5" alt="Icono de HTML5" title="HTML5"></i>
      <p class="about__aside-global--text js-title">HTML5</p>
    </div>
    <div class="about__aside-global js-techContainer" id="1">
      <i class="bx bxl-css3" alt="Icono de CSS3" title="CSS3"></i>
      <p class="about__aside-global--text js-title">CSS3</p>
    </div>
    <div class="about__aside-global js-techContainer" id="2">
      <i
        class="bx bxl-javascript"
        alt="Icono de JavaScript"
        title="JavaScript"
      ></i>
      <p class="about__aside-global--text js-title">JavaScript</p>
    </div>
    <div class="about__aside-global js-techContainer" id="3">
      <i class="bx bxl-sass" alt="Icono de Sass" title="Sass"></i>
      <p class="about__aside-global--text js-title">Sass</p>
    </div>
    <div class="about__aside-global js-techContainer" id="4">
      <i class="bx bxl-react" alt="Icono de React" title="React"></i>
      <p class="about__aside-global--text js-title">React</p>
    </div>
    <div class="about__aside-global js-techContainer" id="5">
      <i class="bx bxl-git" alt="Icono de Git" title="Git"></i>
      <p class="about__aside-global--text js-title">Git</p>
    </div>

    <div class="about__aside-global js-techContainer" id="6">
      <i
        class="bx bxl-wordpress"
        alt="Icono de Wordpress"
        title="Wordpress"
      ></i>
      <p class="about__aside-global--text js-title">Wordpress</p>
    </div>
  </aside>
</section>
