<section class="about" id="about">  
  <h2 class="about__title">Sobre mí</h2>
  
  <article class="about__container">
    <div class="about__container-img">
      <img
        src="./assets/images/yamira.png"
        alt="Foto de perfil de Yamira Martín"
        title="Yamira Martín"
        class="about__container-img--image"
      />
    </div>
    <div class="about__container-description">
      <p class="about__container-description--myself">
        ¡Hola! Soy Yamira,
        <span class="about__container--letters">desarrolladora frontend junior </span>
        especializada en React, JavaScript, HTML y CSS, y actualmente adentrándome en Wordpress y Elementor.
      </p>
      <p class="about__container-description--myself">
          En este último año he decidido lanzarme al mundo del desarrollo web, adaptando mi experiencia profesional previa al sector IT con motivación y autoaprendizaje.
      <p class="about__container-description--myself">
          Gracias a mis estudios en <span class="about__container--letters">psicología</span> y a los últimos 7 años en <span class="about__container--letters">gestión hotelera</span> dentro del ámbito de recepción, he desarrollado un perfil multidisciplinar tanto con cualidades técnicas como con habilidades en <span class="about__container--letters">atención al cliente</span>, <span class="about__container--letters">gestión de equipos</span> y <span class="about__container--letters">organización</span>, que ahora me permiten adaptarme a cualquier entorno de trabajo y asumir el reto que supone crear productos en el entorno web. 
          </p>
      </p>     
      <p class="about__container-description--myself">Si quieres saber más sobre mí y mi perfil técnico, puedes echar un ojo a mis proyectos y a las tecnologías que uso.</p>
    </div>
    <article class="about__contact">
      <div class="about__contact-btn" role="link">
        <a href="mailto:yamiramartinguzman@gmail.com"         class="about__contact-btn--link"
        alt="Enlace para contactar con Yamira Martín"
        title="Haz clic aquí para contactar con Yamira">Contacta conmigo</a>
      </div>
      <div class="about__contact-btn" role="link">
        <a href="https://drive.google.com/file/d/1qBGm1OAwhJldoe4ENE5Szk3oTFFSkGEW/view?usp=sharing"                  class="about__contact-btn--link"
        alt="Enlace para descargar CV Yamira Martín"
        title="Haz clic aquí para descargar CV Yamira"
          target="_blank"
        >Descarga mi CV</a
      >
      </div>
  </article>
  </article>
  
  <aside class="about__aside">
    
      <div class="about__aside-global js-techContainer " id="0">
        <i class="bx bxl-html5 " alt="Icono de HTML5" title="HTML5"></i>
        <p class="about__aside-global--text js-title">HTML5</p>
      </div>
      <div class="about__aside-global js-techContainer" id="1">
        <i class="bx bxl-css3" alt="Icono de CSS3" title="CSS3"></i>
        <p class="about__aside-global--text js-title">CSS3</p>
      </div>
      <div class="about__aside-global js-techContainer" id="2">
        <i class="bx bxl-javascript" alt="Icono de JavaScript" title="JavaScript"></i>
        <p class="about__aside-global--text js-title">JavaScript ES6</p>
      </div>
      <div class="about__aside-global js-techContainer" id="3">
        <i class="bx bxl-sass" alt="Icono de Sass" title="Sass"></i>
        <p class="about__aside-global--text js-title">Sass</p>
      </div>
      <div class="about__aside-global js-techContainer" id="4">
        <i class="bx bxl-react" alt="Icono de React" title="React"></i>
        <p class="about__aside-global--text js-title">React</p>
      </div>
      <div class="about__aside-global js-techContainer" id="5">
        <i class="bx bxl-git"alt="Icono de Git" title="Git"></i>
      <p class="about__aside-global--text js-title">Git</p></div>
        
      <div class="about__aside-global js-techContainer" id="6">
        <i class="bx bxl-wordpress" alt="Icono de Wordpress" title="Wordpress"></i>
        <p class="about__aside-global--text js-title">Wordpress</p>
      </div>
    </div>
  </aside>  
</section>
