<section class="about" id="about">
  <h2 class="about__title">Sobre mí</h2>
  <div class="about__container">
    <div class="about__container-img--image">
      <img
        src="../assets/images/yamira.png"
        alt=""
        class="about__container-img"
      />
    </div>
    <div class="about__container-description">
      <p class="about__container-description--myself">
        ¡Hola! Soy Yamira,
        <span class="about__container--letters">desarrolladora frontend</span>
        junior y
        <span class="about__container--letters">psicóloga</span>, continuamente
        vinculada a proyectos de carácter social para contribuir a este mundo
        con mi
        <span class="about__container--letters">granito de arena</span> de una
        forma más activa y práctica, ahora también desarrollando productos en el
        entorno web.
      </p>
      <p class="about__container-description--myself">
        En los últimos 7 años me he dedicado a la
        <span class="about__container--letters">gestión hotelera</span> dentro
        del ámbito de recepción, donde he tenido la oportunidad de pertenecer a
        <span class="about__container--letters">diferentes proyectos </span>en
        los que crecer y participar tanto en el funcionamiento interno como en
        la gestión del establecimiento hotelero.
      </p>
      <p class="about__container-description--myself">
        <span class="about__container--letters"
          >Mi curiosidad nata y mis ganas continuas de aprender y
          superarme</span
        >, han hecho que haya dado el salto a la programación, donde suma mi
        experiencia en atención al cliente así como en gestión, y donde sin duda
        mi
        <span class="about__container--letters"
          >capacidad organizativa y de planificación</span
        >
        junto con mi
        <span class="about__container--letters">empatía</span> hacen que tenga
        un background muy completo para adptarme a un equipo en el que crecer y
        aportar lo mejor de mi como programadora frontend y como persona.
      </p>
    </div>
  </div>
</section>
