<section class="contact" id="contact">
  <h2 class="contact__title">¿Hablamos?</h2>
  <p class="contact__description">
    Te han gustado mis proyectos y quieres que hablemos de desarollo web?
    quieres darme feedback? o mejor aún, estás buscando un perfil frontend
    junior? puedes ponerte en contacto conmigo a través del email y hablemos! Si
    te han gustado mis proyectos y quieres darme feedback para que pueda seguir
    creciendo profesionalmente, o si simplemente te apetece hablar sobre
    desarrollo web, puedes contactar a través de mis redes sociales. Me
    encuentro en búsqueda activa de mi primer empleo en el sector IT, por lo que
    si estás en búsqueda de un perfil de desarrolladora frontend junior me
    encantaría que contactaras conmigo vía email
  </p>
  <div class="contact__container">
    <a href="https://www.linkedin.com/in/yamiramartinguzman/"
      ><i class="bx bxl-linkedin-square"></i
    ></a>
    <a href="https://github.com/ymartinguzman"><i class="bx bxl-github"></i></a>
    <a href="mailto:yamiramartinguzman@gmail.com"
      ><i class="bx bxs-envelope"></i
    ></a>
  </div>
</section>
