<section class="contact" id="contact">
  <h2 class="contact__title">¿Hablamos?</h2>
  <p class="contact__description">
    Si te han gustado mis proyectos y quieres que hablemos de desarollo web,
    darme feedback, o si estás buscando un perfil frontend junior y crees que mi
    perfil profesional encaja en lo que buscas, ¡no dudes en contactar conmigo!
  </p>
  <div class="contact__container">
    <a
      href="https://www.linkedin.com/in/yamiramartinguzman/"
      alt="Icono de Linkedin"
      title="Perfil de Linkedin de Yamira Martín"
      target="_blank"
      ><i class="bx bxl-linkedin-square"></i
    ></a>
    <a
      href="https://github.com/ymartinguzman"
      alt="Icono de Github"
      title="Perfil de Github de Yamira Martín"
      target="_blank"
      ><i class="bx bxl-github"></i
    ></a>

    <a
      href="mailto:yamiramartinguzman@gmail.com"
      alt="Icono de email"
      title="Enviar email a Yamira Martín"
      target="_blank"
      ><i class="bx bxs-envelope"></i
    ></a>
  </div>
</section>
