<header class="header">
  <nav class="header__nav">
    <ul class="header__nav--menu">
      <li><a href="" title="" id="" class="header__nav--menu-es">Home</a></li>
      <li>
        <a href="#about" title="" class="header__nav--menu-es">Sobre mí</a>
      </li>
      <li>
        <a href="#projects" title="" class="header__nav--menu-es">Proyectos</a>
      </li>
      <li>
        <a href="#contact" title="" class="header__nav--menu-es">Contacto</a>
      </li>
    </ul>
  </nav>
  <div class="header__name">
    <h1 class="header__name--title" translate="no">Yamira Martín</h1>
    <h2 class="header__name--subtitle">Desarrolladora Frontend</h2>
  </div>
</header>
