<header class="header">
  <nav class="header__nav">
    <div class="header__nav--menu">
      <a href="" title="" id="" class="header__nav--menu-es">Home</a>
      <a href="#about" title="" class="header__nav--menu-es">Sobre mí</a>
      <a href="#projects" title="" class="header__nav--menu-es">Proyectos</a>
      <a href="#contact" title="" class="header__nav--menu-es">Contacto</a>
    </div>
  </nav>
  <div class="header__name">
    <h1 class="header__name--title">Yamira Martín</h1>
    <h2 class="header__name--subtitle">Desarrolladora Frontend Jr</h2>
  </div>
</header>
