<header class="header" id="header">
  <nav class="header__nav">
    <ul class="header__nav--menu">
      <li>
        <a
          href="#header"
          alt=""
          title="Haz clic aquí para ir al principio de la página"
          class="header__nav--menu-es"
          >Home</a
        >
      </li>
      <li>
        <a
          href="#about"
          alt=""
          title="Haz clic aquí para ir a la sección Sobre mí"
          class="header__nav--menu-es"
          >Sobre mí</a
        >
      </li>
      <li>
        <a
          href="#projects"
          alt=""
          title="Haz clic aquí para ir a la sección Proyectos"
          class="header__nav--menu-es"
          >Proyectos</a
        >
      </li>
      <li>
        <a
          href="#contact"
          alt=""
          title="Haz clic aquí para ir a la sección Contacto"
          class="header__nav--menu-es"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
  <div class="header__name">
    <h1 class="header__name--title">Yamira Martín</h1>
    <h2 class="header__name--subtitle">Desarrolladora Frontend Jr</h2>
  </div>
</header>
