<main class="main">
  <section class="projects">
    <h2 class="projects__title">Proyectos</h2>
    <div class="projects__grid">
      <div class="projects__grid--container">
        <img
          src="../assets/images/bingo.jpg"
          alt=""
          class="projects__grid--container-img"
        />
      </div>
      <div class="projects__grid--container">
        <img
          src="../assets/images/adivina.jpg"
          alt=""
          class="projects__grid--container-img"
        />
      </div>
      <div class="projects__grid--container">
        <img
          src="../assets/images/awesome.jpg"
          alt=""
          class="projects__grid--container-img"
        />
      </div>
      <div class="projects__grid--container">
        <img
          src="../assets/images/series.jpg"
          alt=""
          class="projects__grid--container-img"
        />
      </div>
      <div class="projects__grid--container">
        <img
          src="../assets/images/rick.jpg"
          alt=""
          class="projects__grid--container-img"
        />
      </div>
      <div class="projects__grid--container">
        <img
          src="../assets/images/ninja.jpg"
          alt=""
          class="projects__grid--container-img"
        />
      </div>
    </div>
    <aside class="projects__aside">
      Tecnologías
      <div class="projects__aside-tech"></div>
      <div class="projects__aside-tech"></div>
      <div class="projects__aside-tech"></div>
      <div class="projects__aside-tech"></div>
      <div class="projects__aside-tech"></div>
    </aside>
  </section>
  <section class="about">
    <h2 class="about__title">Sobre mí</h2>

    <div class="about__container">
      <img src="" alt="" class="abou__container-img" />
    </div>
    <p class="about__description"></p>
  </section>
  <section class="contact">
    <h2 class="contact__title">Contacto</h2>
    <p class="contact__description"></p>
  </section>
</main>
