<main class="main">
  <section class="main__projects">
    <h2 class="main__projects-title">Proyectos</h2>
    <div class="main__projects-grid">
      <div class="main__projects--container">
        <img
          src="/../assets/images/bingo.jpg"
          alt=""
          class="main__projects--container-img"
        />
      </div>
      <div class="main__projects--container">
        <img src="" alt="" class="main__projects--container-img" />
      </div>
      <div class="main__projects--container">
        <img src="" alt="" class="main__projects--container-img" />
      </div>
      <div class="main__projects--container">
        <img src="" alt="" class="main__projects--container-img" />
      </div>
      <div class="main__projects--container">
        <img src="" alt="" class="main__projects--container-img" />
      </div>
      <div class="main__projects--container">
        <img src="" alt="" class="main__projects--container-img" />
      </div>
    </div>
    <aside class="main__projects-aside">
      Tecnologías
      <div class="main__projects-aside--tech"></div>
      <div class="main__projects-aside--tech"></div>
      <div class="main__projects-aside--tech"></div>
      <div class="main__projects-aside--tech"></div>
      <div class="main__projects-aside--tech"></div>
    </aside>
  </section>
  <section class="main__about">
    Sobre mí
    <div class="main__about--container">
      <img src="" alt="" />
    </div>
    <p></p>
  </section>
  <section class="main__contact">
    Contacto
    <p class="main__contact--direct"></p>
  </section>
</main>
