<main class="main">
  <section class="about">
    <h2 class="about__title">Sobre mí</h2>
    <div class="about__container">
      <div class="about__container-img--image">
        <img
          src="../assets/images/yamira.png"
          alt=""
          class="about__container-img"
        />
      </div>
      <div class="about__container-description">
        <p class="about__container-description--myself">
          ¡Hola! Soy Yamira,
          <span class="about__container--letters">desarrolladora frontend</span>
          junior y
          <span class="about__container--letters">psicóloga</span>,
          continuamente vinculada a proyectos de carácter social para contribuir
          a este mundo con mi
          <span class="about__container--letters">granito de arena</span> de una
          forma más activa y práctica, ahora también desarrollando productos en
          el entorno web.
        </p>
        <p class="about__container-description--myself">
          En los últimos 7 años me he dedicado a la
          <span class="about__container--letters">gestión hotelera</span> dentro
          del ámbito de recepción, donde he tenido la oportunidad de pertenecer
          a
          <span class="about__container--letters">diferentes proyectos </span>en
          los que crecer y participar tanto en el funcionamiento interno como en
          la gestión del establecimiento hotelero.
        </p>
        <p class="about__container-description--myself">
          <span class="about__container--letters"
            >Mi curiosidad nata y mis ganas continuas de aprender y
            superarme</span
          >, han hecho que haya dado el salto a la programación, donde suma mi
          experiencia en atención al cliente así como en gestión, y donde sin
          duda mi
          <span class="about__container--letters"
            >capacidad organizativa y de planificación</span
          >
          junto con mi
          <span class="about__container--letters">empatía</span> hacen que tenga
          un background muy completo para adptarme a un equipo en el que crecer
          y aportar lo mejor de mi como programadora frontend y como persona.
        </p>
      </div>
    </div>
  </section>
  <section class="projects">
    <h2 class="projects__title">Proyectos</h2>
    <div class="projects__grid">
      <article class="projects__grid--container">
        <img
          src="../assets/images/bingo-mockup-fondo.png"
          alt=""
          class="projects__grid--container-img"
        />
        <div class="projects__grid--container-logo">
          <img src="../assets/images/logos/github.svg" alt="" />
          <img src="../assets/images/logos/code3.svg" alt="" />
        </div>
      </article>
      <article class="projects__grid--container">
        <img
          src="../assets/images/adivina-mockup-fondo.png"
          alt=""
          class="projects__grid--container-img"
        />
        <div class="projects__grid--container-logo">
          <img src="../assets/images/logos/github-colors.svg" alt="" />
          <img src="../assets/images/logos/code-colors.svg" alt="" />
        </div>
      </article>
      <article class="projects__grid--container">
        <img
          src="../assets/images/awesome-mockup-fondo.png"
          alt=""
          class="projects__grid--container-img"
        />
        <div class="projects__grid--container-logo">
          <img src="../assets/images/logos/github-col.svg" alt="" />
          <img src="../assets/images/logos/code-col.svg" alt="" />
        </div>
      </article>
      <article class="projects__grid--container">
        <img
          src="../assets/images/blumeflix-mockup-fondo.png"
          alt=""
          class="projects__grid--container-img"
        />
        <div class="projects__grid--container-logo"></div>
      </article>
      <article class="projects__grid--container">
        <img
          src="../assets/images/rick-mockup-fondo.png"
          alt=""
          class="projects__grid--container-img"
        />
        <div class="projects__grid--container-logo"></div>
      </article>
      <article class="projects__grid--container">
        <img
          src="../assets/images/ninja-mockup-fondo.png"
          alt=""
          class="projects__grid--container-img"
        />
        <div class="projects__grid--container-logo"></div>
      </article>
    </div>
    <aside class="projects__aside">
      <h2 class="projects__aside-title">Tecnologías</h2>
      <div class="projects__aside-grid">
        <div class="projects__aside-grid--html">
          <i class="bx bxl-html5"></i>
        </div>
        <div class="projects__aside-grid--css"><i class="bx bxl-css3"></i></div>
        <div class="projects__aside-grid--js">
          <i class="bx bxl-javascript"></i>
        </div>
        <div class="projects__aside-grid--sass">
          <i class="bx bxl-sass"></i>
        </div>
        <div class="projects__aside-grid--react">
          <i class="bx bxl-react"></i>
        </div>
        <div class="projects__aside-grid--git"><i class="bx bxl-git"></i></div>
        <div class="projects__aside-grid--bootstrap">
          <i class="bx bxl-bootstrap"></i>
        </div>
      </div>
    </aside>
  </section>

  <section class="contact">
    <h2 class="contact__title">Contacto</h2>
    <p class="contact__description">
      Te han gustado mis proyectos y quieres que hablemos de desarollo web?
      quieres darme feedback? o mejor aún, estás buscando un perfil frontend
      junior? puedes ponerte en contacto conmigo a través del email y hablemos!
      Si te han gustado mis proyectos y quieres darme feedback para que pueda
      seguir creciendo profesionalmente, o si simplemente te apetece hablar
      sobre desarrollo web, puedes contactar a través de mis redes sociales. Me
      encuentro en búsqueda activa de mi primer empleo en el sector IT, por lo
      que si estás en búsqueda de un perfil de desarrolladora frontend junior me
      encantaría que contactaras conmigo vía email
    </p>
  </section>
</main>
