<section class="projects" id="projects">
  <h2 class="projects__title js-spanish">Proyectos</h2>
  <h2 class="projects__title hidden-text js-english">Projects</h2>
  <div class="projects__container">
    <article class="projects__article">
      <div
        class="projects__article-container js-containerText js-containerEnglish"
        id="0"
      >
        <img
          src="./assets/images/ninja-mockup.jpg"
          alt="Mockup del proyecto Ninja Coders"
          title="Descripción proyecto"
          class="projects__article-container--img"
        />
        <p class="projects__article-info--description js-text js-spanish">
          Web responsive para dar visibilidad a un equipo de desarrolladoras
          frontend junior. Consta de una landing con toda la información sobre
          ellas y un formulario de contacto.
        </p>
        <p
          class="projects__article-info--description js-text-en hidden-text js-english"
        >
          Responsive website to give visibility to a group of woman frontend
          developers. It consists of a landing with all the information about
          them and a contact form.
        </p>
      </div>
      <div class="projects__article-info">
        <h2 class="projects__article-info--title">Ninja Coders</h2>
        <ul class="projects__article-info--list">
          <li class="projects__article-info--list-item">#JavaScript</li>
          <li class="projects__article-info--list-item">#HTML</li>
          <li class="projects__article-info--list-item">#CSS</li>
          <li class="projects__article-info--list-item">#Mobile First</li>
          <li class="projects__article-info--list-item">#Flexbox</li>
        </ul>
        <div class="projects__article-info--links">
          <a
            href="https://crisgarm.github.io/ninja-coders/"
            class="projects__article-info--links-item"
            alt="Enlace a la web"
            title="Ver la web"
            target="_blank"
            >Web</a
          >
          <a
            href="https://github.com/ymartinguzman/Ninja-Coders"
            class="projects__article-info--links-item js-spanish"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Código</a
          >
          <a
            href="https://github.com/ymartinguzman/Ninja-Coders"
            class="projects__article-info--links-item hidden-text js-english"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Code</a
          >
        </div>
      </div>
    </article>
    <article class="projects__article">
      <div
        class="projects__article-container js-containerText js-containerEnglish"
        id="1"
      >
        <img
          src="./assets/images/rick-mockup.jpg"
          alt="Mockup del proyecto Rick y Morty"
          title="Descripción proyecto"
          class="projects__article-container--img"
        />
        <p class="projects__article-info--description js-text js-spanish">
          SPA responsive para la búsqueda de los diferentes personajes con
          filtrado por género y orden alfabético.
        </p>
        <p
          class="projects__article-info--description js-text-en hidden-text js-english"
        >
          Responsive SPA to search for your favourite Rick& Morty characters,
          with a filter option by gender or alphabetically.
        </p>
      </div>
      <div class="projects__article-info">
        <h2 class="projects__article-info--title">Rick & Morty</h2>
        <ul class="projects__article-info--list">
          <li class="projects__article-info--list-item">#React</li>
          <li class="projects__article-info--list-item">#HTML</li>
          <li class="projects__article-info--list-item">#CSS</li>
          <li class="projects__article-info--list-item">#Mobile First</li>
          <li class="projects__article-info--list-item">#API</li>
        </ul>
        <div class="projects__article-info--links">
          <a
            href="https://ymartinguzman.github.io/Rick-and-Morty-characters-finder/#/"
            class="projects__article-info--links-item"
            alt="Enlace a la web"
            title="Ver la web"
            target="_blank"
            >Web</a
          >
          <a
            href="https://github.com/ymartinguzman/Rick-and-Morty-characters-finder"
            class="projects__article-info--links-item js-spanish"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Código</a
          >
          <a
            href="https://github.com/ymartinguzman/Rick-and-Morty-characters-finder"
            class="projects__article-info--links-item hidden-text js-english"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Code</a
          >
        </div>
      </div>
    </article>
    <article class="projects__article">
      <div
        class="projects__article-container js-containerText js-containerEnglish"
        id="2"
      >
        <img
          src="./assets/images/awesome-mockup.jpg"
          alt="Mockup del proyecto Awesome Profile Cards"
          title="Descripción proyecto"
          class="projects__article-container--img"
        />
        <p class="projects__article-info--description js-text js-spanish">
          Web App responsive para la creación de tarjetas de visita virtuales y
          personalizadas, con posibilidad de compartir en redes sociales o
          descargar.
        </p>
        <p
          class="projects__article-info--description js-text-en hidden-text js-english"
        >
          App responsive web to create virtual and personalized business cards,
          to share in social networks or downloading.
        </p>
      </div>
      <div class="projects__article-info">
        <h2 class="projects__article-info--title">Awesome Profile Cards</h2>
        <ul class="projects__article-info--list">
          <li class="projects__article-info--list-item">#JavaScript</li>
          <li class="projects__article-info--list-item">#HTML</li>
          <li class="projects__article-info--list-item">#CSS</li>
          <li class="projects__article-info--list-item">#Sass</li>
          <li class="projects__article-info--list-item">#Mobile First</li>
        </ul>
        <div class="projects__article-info--links">
          <a
            href="https://martreyz.github.io/Project-promo-k-module-2-team-1/"
            class="projects__article-info--links-item"
            alt="Enlace a la web"
            title="Ver la web"
            target="_blank"
            >Web</a
          >
          <a
            href="https://github.com/ymartinguzman/Awesome-Profile-Cards"
            class="projects__article-info--links-item js-spanish"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Código</a
          >
          <a
            href="https://github.com/ymartinguzman/Awesome-Profile-Cards"
            class="projects__article-info--links-item hidden-text js-english"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Code</a
          >
        </div>
      </div>
    </article>
    <article class="projects__article">
      <div
        class="projects__article-container js-containerText js-containerEnglish"
        id="3"
      >
        <img
          src="./assets/images/blumeflix-mockup.jpg"
          alt="Mockup del proyecto Blumeflix"
          title="Descripción proyecto"
          class="projects__article-container--img"
        />
        <p class="projects__article-info--description js-text js-spanish">
          Blumeflix es una aplicación de búsqueda de series que, a través de la
          API de TV Maze, permite buscar series por su título y elaborar una
          lista de favoritos.
        </p>
        <p
          class="projects__article-info--description js-text-en hidden-text js-english"
        >
          Blumeflix is a series finder application that, through the TV Maze
          API, allows you to search for series by title and build a list of
          favorites.
        </p>
      </div>
      <div class="projects__article-info">
        <h2 class="projects__article-info--title" translate="no">Blumeflix</h2>
        <ul class="projects__article-info--list">
          <li class="projects__article-info--list-item">#JavaScript</li>
          <li class="projects__article-info--list-item">#HTML</li>
          <li class="projects__article-info--list-item">#CSS Grid</li>
          <li class="projects__article-info--list-item">#Responsive</li>
          <li class="projects__article-info--list-item">#API</li>
        </ul>
        <div class="projects__article-info--links">
          <a
            href="https://ymartinguzman.github.io/Series-finder/"
            class="projects__article-info--links-item"
            alt="Enlace a la web"
            title="Ver la web"
            target="_blank"
            >Web</a
          >
          <a
            href="https://github.com/ymartinguzman/Series-finder"
            class="projects__article-info--links-item js-spanish"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Código</a
          >
          <a
            href="https://github.com/ymartinguzman/Series-finder"
            class="projects__article-info--links-item hidden-text js-english"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Code</a
          >
        </div>
      </div>
    </article>
    <article class="projects__article">
      <div
        class="projects__article-container js-containerText js-containerEnglish"
        id="4"
      >
        <img
          src="./assets/images/bingo-mockup.jpg"
          alt="Mockup del proyecto Bingo"
          title="Descripción proyecto"
          class="projects__article-container--img"
        />
        <p class="projects__article-info--description js-text js-spanish">
          Famoso juego en el que ir rellenando tu cartón según las bolitas que
          van saliendo de forma automática. Si quieres jugar de forma manual,
          sólo tienes que presionar el botón Stop. ¡Suerte!
        </p>
        <p
          class="projects__article-info--description js-text-en hidden-text js-english"
        >
          Famous game in which you have to fill your cardboard according to the
          balls that come out automatically. If you want to play manually, just
          press the Stop button. Good luck!
        </p>
      </div>
      <div class="projects__article-info">
        <h2 class="projects__article-info--title">Bingo</h2>
        <ul class="projects__article-info--list">
          <li class="projects__article-info--list-item">#JavaScript</li>
          <li class="projects__article-info--list-item">#HTML</li>
          <li class="projects__article-info--list-item">#CSS</li>
          <li class="projects__article-info--list-item">#Flexbox</li>
          <li class="projects__article-info--list-item">#Responsive</li>
        </ul>
        <div class="projects__article-info--links">
          <a
            href="https://ymartinguzman.github.io/Bingo/"
            class="projects__article-info--links-item"
            alt="Enlace a la web"
            title="Ver la web"
            target="_blank"
            >Web</a
          >
          <a
            href="https://github.com/ymartinguzman/Bingo"
            class="projects__article-info--links-item js-spanish"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Código</a
          >
          <a
            href="https://github.com/ymartinguzman/Bingo"
            class="projects__article-info--links-item hidden-text js-english"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Code</a
          >
        </div>
      </div>
    </article>
    <article class="projects__article">
      <div
        class="projects__article-container js-containerText js-containerEnglish"
        id="5"
      >
        <img
          src="./assets/images/adivina-mockup.jpg"
          alt="Mockup del proyecto Adivina el número"
          title="Descripción proyecto"
          class="projects__article-container--img"
        />
        <p class="projects__article-info--description js-text js-spanish">
          Juego sencillo en el que debes adivinar el número secreto en el menor
          número de intentos posibles, ayudándote de las pistas. ¡Suerte!
        </p>
        <p
          class="projects__article-info--description js-text-en hidden-text js-english"
        >
          Simple game to guess the secret number on the less tries helped by
          hints. Good luck!
        </p>
      </div>
      <div class="projects__article-info">
        <h2 class="projects__article-info--title js-spanish">
          Adivina el número
        </h2>
        <h2 class="projects__article-info--title hidden-text js-english">
          Guess the number
        </h2>
        <ul class="projects__article-info--list">
          <li class="projects__article-info--list-item">#JavaScript</li>
          <li class="projects__article-info--list-item">#HTML</li>
          <li class="projects__article-info--list-item">#CSS</li>
          <li class="projects__article-info--list-item">#Flexbox</li>
        </ul>
        <div class="projects__article-info--links">
          <a
            href="https://ymartinguzman.github.io/Adivina-el-numero/"
            class="projects__article-info--links-item"
            alt="Enlace a la web"
            title="Ver la web"
            target="_blank"
            >Web</a
          >
          <a
            href="https://github.com/ymartinguzman/Adivina-el-numero"
            class="projects__article-info--links-item js-spanish"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Código</a
          >
          <a
            href="https://github.com/ymartinguzman/Adivina-el-numero"
            class="projects__article-info--links-item hidden-text js-english"
            alt="Enlace a Github"
            title="Ver código"
            target="_blank"
            >Code</a
          >
        </div>
      </div>
    </article>
  </div>
</section>
