<section class="projects" id="projects">
  <h2 class="projects__title">Proyectos</h2>
  <div class="projects__grid">
    <article class="projects__grid--container">
      <img
        src="../assets/images/bingo-mockup-fondo.png"
        alt=""
        class="projects__grid--container-img"
      />
      <div class="projects__grid--container-logo">
        <img src="../assets/images/logos/github.svg" alt="" />
        <img src="../assets/images/logos/code-alt.svg" alt="" />
      </div>
    </article>
    <article class="projects__grid--container">
      <img
        src="../assets/images/adivina-mockup-fondo.png"
        alt=""
        class="projects__grid--container-img"
      />
      <div class="projects__grid--container-logo">
        <img src="../assets/images/logos/github-colors.svg" alt="" />
        <img src="../assets/images/logos/code-colors.svg" alt="" />
      </div>
    </article>
    <article class="projects__grid--container">
      <img
        src="../assets/images/awesome-mockup-fondo.png"
        alt=""
        class="projects__grid--container-img"
      />
      <div class="projects__grid--container-logo">
        <img src="../assets/images/logos/github-col.svg" alt="" />
        <img src="../assets/images/logos/code-col.svg" alt="" />
      </div>
    </article>
    <article class="projects__grid--container">
      <img
        src="../assets/images/blumeflix-mockup-fondo.png"
        alt=""
        class="projects__grid--container-img"
      />
      <div class="projects__grid--container-logo"></div>
    </article>
    <article class="projects__grid--container">
      <img
        src="../assets/images/rick-mockup-fondo.png"
        alt=""
        class="projects__grid--container-img"
      />
      <div class="projects__grid--container-logo"></div>
    </article>
    <article class="projects__grid--container">
      <img
        src="../assets/images/ninja-mockup-fondo.png"
        alt=""
        class="projects__grid--container-img"
      />
      <div class="projects__grid--container-logo"></div>
    </article>
    <div>
      <a href="https://github.com/ymartinguzman" target="_blank"
        >Más proyectos</a
      >
    </div>
  </div>
  <aside class="projects__aside">
    <h2 class="projects__aside-title">Tecnologías</h2>
    <div class="projects__aside-grid">
      <div class="projects__aside-grid--html">
        <i class="bx bxl-html5"></i>
      </div>
      <div class="projects__aside-grid--css"><i class="bx bxl-css3"></i></div>
      <div class="projects__aside-grid--js">
        <i class="bx bxl-javascript"></i>
      </div>
      <div class="projects__aside-grid--sass">
        <i class="bx bxl-sass"></i>
      </div>
      <div class="projects__aside-grid--react">
        <i class="bx bxl-react"></i>
      </div>
      <div class="projects__aside-grid--git"><i class="bx bxl-git"></i></div>
      <div class="projects__aside-grid--bootstrap">
        <i class="bx bxl-bootstrap"></i>
      </div>
    </div>
  </aside>
</section>
