<section class="projects" id="projects">
  <h2 class="projects__title">Proyectos</h2>
  <div class="projects__container">
    <article class="projects__article">
      <div class="projects__article-container js-containerText "id="0">
        <img
          src="./assets/images/adivina-mockup.jpg"
          alt=""
          class="projects__article-container--img" 
        />
          <p class="projects__article-info--description js-text" >Juego sencillo en el que debes adivinar el número secreto en el menor
          número de intentos posibles, ayudándote de las pistas. ¡Suerte!</p>
      </div>
      <div class="projects__article-info">      
        <h2 class="projects__article-info--title">Adivina el número</h2>
        <ul class="projects__article-info--list">
          <li class="projects__article-info--list-item">#JavaScript</li>
          <li class="projects__article-info--list-item">#HTML</li>
          <li class="projects__article-info--list-item">#CSS</li>
          <li class="projects__article-info--list-item">#Flexbox</li>
        </ul>
        <div class="projects__article-info--links">
          <a
          href="https://ymartinguzman.github.io/Adivina-el-numero/"
          target="_blank"
          class="projects__article-info--links-item"
          >Web</a
        >
          <a
          href="https://github.com/ymartinguzman/Adivina-el-numero"
          target="_blank"
          class="projects__article-info--links-item"
          >Código</a
        >
        </div>
      </div>
    </article>
    <article class="projects__article">
      <div class="projects__article-container js-containerText" id="1">
        <img
          src="./assets/images/awesome-mockup.jpg"
          alt=""
          class="projects__article-container--img "
        />
          <p class=" projects__article-info--description js-text" >Web App responsive para la creación de tarjetas de visita virtuales y personalizadas, con posibilidad de compartir en redes sociales o descargar.</p>
      </div>
      <div class="projects__article-info">        
        <h2 class="projects__article-info--title">Awesome Profile Cards</h2>
        <ul class="projects__article-info--list">
          <li class="projects__article-info--list-item">#JavaScript</li>
          <li class="projects__article-info--list-item">#HTML</li>
          <li class="projects__article-info--list-item">#CSS</li>
          <li class="projects__article-info--list-item">#Sass</li>
        <li class="projects__article-info--list-item">#Mobile First</li>
      </ul>
      <div class="projects__article-info--links">
        <a
          href="https://martreyz.github.io/Project-promo-k-module-2-team-1/"
          target="_blank"
          class="projects__article-info--links-item"
          >Web</a
        >
        <a
          href="https://github.com/ymartinguzman/Awesome-Profile-Cards"
          target="_blank"
          class="projects__article-info--links-item"
          >Código</a
        >
        </div>
      </div>
    </article>
    <article class="projects__article">
      <div class="projects__article-container js-containerText" id="2">
        <img
          src="./assets/images/bingo-mockup.jpg"
          alt=""
          class="projects__article-container--img"
        />
        <p class="projects__article-info--description js-text" >Famoso juego en el que ir rellenando tu cartón según las bolitas que van
          saliendo de forma automática. Si quieres jugar de forma manual, sólo
          tienes que presionar el botón Stop. ¡Suerte!</p>
      </div>
      <div class="projects__article-info">        
        <h2 class="projects__article-info--title">Bingo</h2>
        <ul class="projects__article-info--list">      
          <li class="projects__article-info--list-item">#JavaScript</li>
          <li class="projects__article-info--list-item">#HTML</li>
          <li class="projects__article-info--list-item">#CSS</li>
          <li class="projects__article-info--list-item">#Flexbox</li>
          <li class="projects__article-info--list-item">#Responsive</li>
      </ul>
      <div class="projects__article-info--links">
        <a
          href="https://ymartinguzman.github.io/Bingo/"
          target="_blank"
          class="projects__article-info--links-item"
          >Web</a
        >
        <a
          href="https://github.com/ymartinguzman/Bingo"
          target="_blank"
          class="projects__article-info--links-item"
          >Código</a
        >
      </div>
    </div>
    </article>
    <article class="projects__article">
      <div class="projects__article-container js-containerText" id="3">
        <img
          src="./assets/images/blumeflix-mockup.jpg"
          alt=""
          class="projects__article-container--img"
        />
        <p class="projects__article-info--description js-text " >Blumeflix es una aplicación de búsqueda de series que, a través de la
          API de TV Maze, permite buscar series por su título y elaborar una lista
          de favoritos.</p>
      </div>
      <div class="projects__article-info">       
        <h2 class="projects__article-info--title">Blumeflix</h2>          
        <ul class="projects__article-info--list">
          <li class="projects__article-info--list-item">#JavaScript</li>
          <li class="projects__article-info--list-item">#HTML</li>
          <li class="projects__article-info--list-item">#CSS Grid</li>
          <li class="projects__article-info--list-item">#Responsive</li>
          <li class="projects__article-info--list-item">#API</li>
          
      </ul>
      <div class="projects__article-info--links">
        <a
          href="https://ymartinguzman.github.io/Series-finder/"
          target="_blank"
          class="projects__article-info--links-item"
          >Web</a
        >
        <a
          href="https://github.com/ymartinguzman/Series-finder"
          target="_blank"
          class="projects__article-info--links-item"
          >Código</a
        >
      </div>
    </div>
    </article>
    <article class="projects__article">
      <div class="projects__article-container js-containerText" id="4">
        <img
          src="./assets/images/ninja-mockup.jpg"
          alt=""
          class="projects__article-container--img"
        />
        <p class="projects__article-info--description js-text " >Web responsive Mobile First para dar visibilidad a un equipo de
          desarrolladoras frontend junior. Consta de una landing con toda la
          información sobre ellas y un formulario de contacto.</p>  
      </div>
      <div class="projects__article-info">                
        <h2 class="projects__article-info--title">Ninja Coders</h2>
        <ul class="projects__article-info--list">
          <li class="projects__article-info--list-item">#JavaScript</li>
          <li class="projects__article-info--list-item">#HTML</li>
          <li class="projects__article-info--list-item">#CSS</li>
          <li class="projects__article-info--list-item">#Mobile First</li>
          <li class="projects__article-info--list-item">#Flexbox</li>
      </ul>
      <div class="projects__article-info--links">
        <a
          href="https://crisgarm.github.io/ninja-coders/"
          target="_blank"
          class="projects__article-info--links-item"
          >Web</a
        >
        <a
          href="https://github.com/ymartinguzman/Ninja-Coders"
          target="_blank"
          class="projects__article-info--links-item"
          >Código</a
        >
      </div>
      </div>
    </article>
    <article class="projects__article">
      <div class="projects__article-container js-containerText"id="5" >
        <img
          src="./assets/images/rick-mockup.jpg"
          alt=""
          class="projects__article-container--img"
        />
        <p class="projects__article-info--description js-text " >Web App responsive para la búsqueda de los diferentes personajes con
          filtrado por género y orden alfabético.</p>      
      </div>
      <div class="projects__article-info">           
        <h2 class="projects__article-info--title">Rick y Morty</h2>
        <ul class="projects__article-info--list">
          <li class="projects__article-info--list-item">#React</li>        
          <li class="projects__article-info--list-item">#HTML</li>
          <li class="projects__article-info--list-item">#CSS</li>
          <li class="projects__article-info--list-item">#Mobile First</li>
          <li class="projects__article-info--list-item">#API</li>
      </ul>
      <div class="projects__article-info--links">
        <a
          href="https://ymartinguzman.github.io/Rick-and-Morty-characters-finder/#/"
          target="_blank"
          class="projects__article-info--links-item"
          >Web</a
        >
        <a
          href="https://github.com/ymartinguzman/Rick-and-Morty-characters-finder"
          target="_blank"
          class="projects__article-info--links-item"
          >Código</a
        >
      </div>
      </div>
    </article>
  </div>
  
  </div>

  
</section>
