// fonts
// $font-main: 'Roboto', sans-serif;

// Palette 1
// $color-primary: #5f9595;
// $color-secondary: #c2d7d0;
// $color-tertiary: #efbc68;
// $color-extra: #ffb7a1;
// // $color-complementary: #5f7e5f;
// $color-basic: #ffffff;

//Palette 2
// $color-primary: #693c72;
// $color-secondary: #c15050;
// $color-tertiary: #d49d42;
// $color-extra: #d97642;
// $color-basic: #ffffff;

//Palette 3
$color-primary: #1f441e;
$color-secondary: #9b3675;
$color-tertiary: #9ecca4;
$color-extra: #cee6b4;
$color-basic: #ffffff;
