// fonts
// $font-main: 'Roboto', sans-serif;

// Palette 1
$color-primary: #5f9595;
$color-secondary: #c2d7d0;
$color-tertiary: #efbc68;
$color-extra: #ffb7a1;
$color-complementary: #5f7e5f;

//Palette 2
//$color-primary: #5f9595;
// $color-secondary: #c2d7d0;
// $color-tertiary: #efbc68;
// $color-extra: #ffb7a1;

$color: #d2ddd9;
