.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about {
  max-width: 80%;
  padding-bottom: 45px;
  text-align: center;
  @media all and (min-width: 768px) {
    padding-bottom: 85px;
  }
  &__title {
    padding: 60px 20px 40px;
    color: $color-secondary;
    text-shadow: 2px 2px 0px $color-primary;
    font-size: 50px;
    font-family: $main-font;
    @media all and (min-width: 768px) {
      padding: 80px 20px 80px;
      font-size: 70px;
    }
    @media all and (min-width: 1080px) {
      font-size: 86px;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    @media all and (min-width: 1080px) {
      flex-direction: row;
    }
    &-img {
      width: 60%;
      padding-bottom: 20px;
      @media all and (min-width: 768px) {
        width: 30%;
      }
      @media all and (min-width: 1080px) {
        width: 23%;
      }

      &--image {
        width: 60%;
        @media all and (min-width: 420px) {
          width: 80%;
        }
        @media all and (min-width: 768px) {
          width: 100%;
        }
      }
    }
    &-description {
      display: flex;
      flex-direction: column;
      width: 100%;
      line-height: 1.25;
      @media all and (min-width: 768px) {
        width: 100%;
        padding-left: 40px;
      }
      @media all and (min-width: 1080px) {
        width: 55%;
      }

      &--myself {
        padding: 10px;
        font-size: 18px;
        text-align: center;
        font-family: $main-font;
        font-weight: 300;
        @media all and (min-width: 768px) {
          font-size: 20px;
          text-align: initial;
        }
      }
    }
    &--letters {
      color: $color-primary;
      font-weight: bold;
    }
  }
  &__aside {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 50px;
    padding-top: 30px;
    @media all and (min-width: 768px) {
      justify-content: space-between;
    }

    &-global--text {
      color: $color-primary;
      font-family: $main-font;
      font-weight: 700;
    }
  }
  &__contact {
    display: flex;
    flex-direction: row;
    @media all and (min-width: 1080px) {
      flex-direction: column;
    }
    &-btn {
      margin: 25px 10px;
      padding: 5px;
      background-color: $color-tertiary;
      color: $color-primary;
      border-radius: 6px;
      border-style: none;
      @media all and (min-width: 768px) {
        margin-left: 20px;
        margin-bottom: 20px;
      }
      @media all and (min-width: 1080px) {
        margin-bottom: 40px;
        margin-left: 50px;
      }
      @media all and (min-width: 1200px) {
        padding: 16px;
      }

      &:hover {
        background-color: $color-secondary;
        color: $color-basic;
        transition: 1s ease;
      }

      &--link {
        color: $color-primary;
        font-size: 20px;
        font-family: $links-font;
        text-decoration: none;
      }
    }
  }
}
.bx {
  padding: 10px;
  padding-bottom: 5px;
  color: $color-primary;
  font-size: 3em;

  &:hover {
    transition: 1s ease;
    color: $color-tertiary;
  }
}
.js-title {
  display: none;
}
.js-tech {
  color: $color-tertiary;
}
