.contact {
  text-align: center;
  &__title {
    font-size: 86px;
    padding: 20px;
    color: $color-tertiary;
    font-family: 'Caveat', cursive;
    text-shadow: 2px 2px 0px white;
  }
  &__description {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }
}
.bx {
  font-size: 3em;
  color: $color-extra;
}
