.contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media all and (min-width: 768px) {
    padding-bottom: 85px;
  }
  &__title {
    font-size: 50px;
    padding: 40px 20px 40px;
    color: $color-secondary;
    font-family: 'Lato', sans-serif;
    text-shadow: 2px 2px 0px $color-primary;
    @media all and (min-width: 768px) {
      font-size: 86px;
    }
  }
  &__description {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    max-width: 90%;
    text-align: center;
    font-weight: 300;
    line-height: 1.5;
    @media all and (min-width: 768px) {
      max-width: 50%;
      font-size: 20px;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    padding: 45px 0;
  }
}
.bxl-linkedin-square,
.bxl-github,
.bxs-envelope {
  font-size: 3em;
  padding: 0 20px;
  color: $color-tertiary;
  @media all and (min-width: 768px) {
    font-size: 4em;
  }
  &:hover {
    transform: scale(1.2);
    transition: 0.5s linear;
    cursor: pointer;
    color: $color-secondary;
  }
}
