.footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: $color-primary;
  font-weight: bold;
  &__small {
    color: $color-secondary;
    font-family: $main-font;
    font-size: 14px;
    @media all and (min-width: 768px) {
      font-size: 16px;
    }
  }
}
