.header {
  background-image: linear-gradient(rgba(19, 8, 8, 0.6), rgba(0, 0, 0, -0.7)),
    url('../images/desktop.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100vw;
    font-size: 20px;
    -webkit-backdrop-filter: contrast(0.5);
    backdrop-filter: contrast(0.5);
    background-color: $color-primary;
    z-index: 990;
    opacity: 0.9;

    &--btn {
      justify-content: center;
      display: flex;
      padding: 20px;
      &-es,
      &-en,
      &-space {
        font-family: $links-font;
        font-size: 20px;
        text-transform: uppercase;
        border-style: none;
        background-color: $color-primary;
        color: $color-tertiary;
        outline-style: none;
        @media all and (min-width: 768px) {
          font-size: 25px;
          padding: 10px 0;
        }
      }
      &-es:hover,
      &-en:hover {
        color: $color-secondary;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    &--burguer {
      padding: 0 23px;
    }
    &--menu {
      display: none;

      @media all and (min-width: 768px) {
        display: flex;
        justify-content: center;
        padding: 23px;
        font-size: 25px;
        font-family: $links-font;
      }
    }

    &--menu-es {
      padding: 10px;
      color: $color-tertiary;
      text-decoration: none;
    }
    &--menu-es:hover {
      color: $color-secondary;
      text-decoration: underline;
    }
    &--menu-contact {
      display: flex;
      flex-wrap: nowrap;
      font-size: 7px;
      padding-top: 15px;
      @media all and (min-width: 768px) {
        display: none;
      }
    }
  }
}

.header__name {
  width: 90%;
  padding: 25px 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: $color-basic;
  outline-style: groove;
  text-align: center;
  transform: translate(-50%, -50%);
  @media all and (min-width: 420px) {
    width: 65%;
  }
  @media all and (min-width: 768px) {
    padding: 40px 60px;
    width: 78%;
  }
  @media all and (min-width: 1080px) {
    width: 56%;
  }

  &--title {
    color: $color-secondary;
    text-shadow: 2px 4px 0px $color-primary;
    font-size: 39px;
    font-weight: 700;
    font-family: $main-font;
    letter-spacing: 0.05em;
    animation: tracking 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    @media all and (min-width: 768px) {
      font-size: 75px;
      text-shadow: 4px 4px 0px $color-primary;
    }
  }
  &--subtitle {
    color: $color-tertiary;
    font-size: 25px;
    font-weight: 500;
    font-family: $links-font;
    text-shadow: 0px 2px 0px #736532;
    letter-spacing: 0.05em;
    animation: tracking 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    @media all and (min-width: 768px) {
      font-size: 40px;
    }
  }
}
.js-burguerMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  padding: 0 23px 15px;
  font-size: 15px;
  font-family: $links-font;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: $color-primary;
  animation: tracking-menu 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  @media all and (min-width: 420px) {
  }
}
.bx-menu {
  padding: 10px;
  padding-bottom: 5px;
  color: $color-tertiary;
  font-size: 2em;
  @media all and (min-width: 768px) {
    display: none;
  }
}
.bx-x {
  display: none;
}

.js-bxMenu {
  color: $color-tertiary;
}

@keyframes tracking {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes tracking-menu {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
