.header {
  // height: 100vh;
  background-image: linear-gradient(rgba(19, 8, 8, -0.7), rgba(0, 0, 0, -0.7)),
    url('/assets/images/desktop.jpg');
  background-color: #b7b7a4;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__nav {
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: contrast(0.5);
    backdrop-filter: contrast(0.5);
    background-color: $color-primary;
    z-index: 990;
    opacity: 0.9;

    &--language {
      padding: 23px;
      font-family: 'Caveat', cursive;
    }

    &--language-es {
      color: #f0efeb;
      text-transform: uppercase;
      text-decoration: none;
    }
    &--menu {
      padding: 23px;
      font-family: 'Caveat', cursive;
      font-size: 25px;
      display: flex;
    }
    &--menu-es {
      color: $color-tertiary;
      // text-transform: uppercase;
      text-decoration: none;
      padding: 10px;
    }
    &--menu-es:hover {
      text-decoration: underline;
      color: $color-secondary;
    }
  }
}
.header__name {
  padding: 40px 60px;
  outline-style: groove;
  color: $color-basic;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--title {
    // // color: $color-extra;
    // text-transform: uppercase;
    font-size: 75px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.05em;
    color: $color-secondary;
    //color: $color-secondary;
    // -webkit-text-stroke: 3px $color-tertiary;
    text-shadow: 4px 4px 0px $color-primary;
  }
  &--subtitle {
    color: $color-tertiary;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Caveat', cursive;
    text-shadow: 2px 2px 0px #736532;
    letter-spacing: 0.05em;
  }
}
