.projects {
  text-align: center;
  padding-bottom: 85px;
  width: 100%;

  &__title {
    font-size: 86px;
    padding: 80px 20px 60px;
    color: $color-secondary;
    font-family: 'Lato', sans-serif;
    text-shadow: 2px 2px 0px $color-primary;
  }
  &__container {
    // width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  &__article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 50%;
    align-items: center;
    // padding: 20px 0px;
    &-container {
      width: 60%;
      object-fit: cover;
      // padding-bottom: 5em;
      position: relative;
      z-index: 1;
      // border-radius: 20px;
      // transition: color 0.5s ease-out;
      display: block;
      transition: 1s ease-in-out;

      &--img {
        width: 100%;
        // &:hover {
        //   height: 0px;
        //   transition: 1s ease-in-out;
        // }
      }
    }
    &-info {
      width: 60%;
      height: 400px;

      // transform: translate(0px, -385px);
      //box-shadow: 2px 2px 2px 2px $color-secondary;
      // box-shadow: 2px 2px 20px 20px $color-secondary;
      // box-shadow: 0 1px 3px rgb(0, 0, 0, 2.4), 0 1px 2px rgb(0, 0, 0, 2.4);

      &--title {
        text-align: left;
        font-family: 'Lato', sans-serif;
        padding-bottom: 10px;
        // padding-top: 205px;
      }
      &--description {
        text-align: left;
        font-size: 20px;
        font-family: 'Lato', sans-serif;
      }
      &--list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        &-item {
          padding: 10px;
          background-color: $color-tertiary;
          margin: 10px 10px 10px 0;
          border-radius: 3px;
          font-family: 'Lato', sans-serif;
          color: white;
        }
      }
    }
  }
}
.js-projects {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  transition: opacity 0.5s;
  background: $color-secondary;
  color: $color-basic;
  padding: 10px;
  // transform: translate(0px, -385px);
  transition: all 0.3s ease-in-out;
}
.js-text {
  display: none;
}
