.projects {
  width: 100%;
  text-align: center;
  @media all and (min-width: 768px) {
    padding-bottom: 85px;
  }

  &__title {
    padding: 40px 20px 40px;
    color: $color-secondary;
    font-size: 50px;
    font-family: $main-font;
    text-shadow: 2px 2px 0px $color-primary;
    @media all and (min-width: 768px) {
      padding: 80px 20px 80px;
      font-size: 70px;
    }
    @media all and (min-width: 1080px) {
      font-size: 86px;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    @media all and (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center;

    @media all and (min-width: 768px) {
      max-width: 50%;
    }
    &-container {
      width: 80%;
      object-fit: cover;
      position: relative;
      z-index: 1;

      @media all and (min-width: 768px) {
        max-width: 60%;
      }

      &--img {
        width: 100%;
      }
    }
    &-info {
      width: 80%;
      height: auto;
      padding-bottom: 40px;
      @media all and (min-width: 768px) {
        height: 250px;
        width: 60%;
      }
      &--title {
        padding-bottom: 10px;
        color: $color-primary;
        text-align: left;
        font-family: $main-font;
      }
      &--description {
        text-align: left;
        font-size: 20px;
        font-family: $main-font;
      }
      &--list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        &-item {
          padding: 3px;
          margin: 10px 10px 10px 0;
          background-color: $color-extra;
          color: white;
          border-radius: 3px;
          font-family: $main-font;
        }
      }
      &--links {
        display: flex;

        &-item {
          padding: 10px;
          margin: 13px 10px 10px 0;
          background-color: $color-tertiary;
          color: $color-primary;
          border-radius: 6px;
          font-family: $links-font;
          text-decoration: none;
          font-size: 20px;
          &:hover {
            background-color: $color-secondary;
            color: $color-basic;
            transition: 1s ease;
          }
        }
      }
    }
  }
}
.js-projects {
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 13%;
  left: 17%;
  height: 60%;
  width: 65%;
  padding: 10px;
  background: $color-secondary;
  color: black;
  opacity: 0.9;
  border-radius: 8px;
  font-family: $main-font;
  font-size: 9px;
  font-weight: 700;
  line-height: 1.5;
  transition: 1s ease-in-out;
  animation: scale 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  @media all and (min-width: 420px) {
    font-size: 12px;
  }
  @media all and (min-width: 768px) {
    font-size: 10px;
  }
  @media all and (min-width: 1080px) {
    font-size: 14px;
  }
}
.js-text {
  display: none;
}

@keyframes scale {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
